* {
  margin: 0;
  padding: 0;
  font-family: Inter sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1520px;
  height: 65px;
  padding: 16px 24px;
  background-color: #ffffff;
  margin-inline: auto;
}
.header .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  gap: 16px;
  position: center;
  margin: 0 auto;
}
@media (max-width: 960px) {
  .header .nav {
    display: none;
  }
}
.header .logo a {
  font-size: 1.714rem;
  font-weight: 700;
}
.header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.header nav ul li {
  font-size: 1.142rem;
  line-height: 24px;
}
.header nav ul li a {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right;
}

.container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}