* {
  margin: 0;
  padding: 0;
  font-family: Inter sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1520px;
  height: 65px;
  padding: 16px 24px;
  background-color: #ffffff;
  margin-inline: auto;
}

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}

.logo {
  width: 142px;
  height: 32px;
}

@media (max-width: 960px) {
  .nav {
    display: none !important;
  }
  .burger {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}
.container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1920px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .burger {
    display: none;
  }
}
.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Enter sans-serif;
  font-weight: 400;
  list-style: none;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.01rem;
  color: #252c32;
}
.nav ul a {
  border-radius: 6px;
  padding: 4px 10px;
  width: 99px;
  height: 32px;
  color: #252C32;
  text-decoration: none;
}

@media (max-width: 360px) {
  .nav {
    display: none;
  }
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.menu-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
  width: 30px;
}

.burger {
  display: none;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-top: 4px;
  margin-left: 10px;
}
.burger span {
  width: 30px;
  height: 5px;
  background-color: #5b6871;
  border-radius: 10px;
}

.right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}